@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
@media only screen and (max-width: 62.5em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 54%;
  }
}
@media only screen and (max-width: 37.5em) {
  html {
    font-size: 51%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.6;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

@media only screen and (max-width: 992px) {
  .column-sm {
    display: flex !important;
    width: 100% !important;
    flex-direction: column !important;
  }
}
.header {
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  justify-content: space-between;
  background-color: #f3d7d7;
  align-items: center;
  padding: 1rem 2rem 1rem 0rem;
}
.header .links {
  display: flex;
  font-size: 1rem;
  justify-content: space-evenly;
  width: 60%;
}
.header .links li {
  font-size: 1.65rem;
  text-transform: uppercase;
  font-weight: bolder;
  color: whitesmoke;
  text-shadow: 1px 1px 4px #ed145b;
  position: relative;
  cursor: pointer;
}
.header .links li:hover::after {
  position: absolute;
  content: "💕";
  top: -1.5rem;
  right: -2rem;
}
.header .links .active {
  color: #ed145b !important;
  text-shadow: 0px 0px 0px #ed145b;
}
.header .links .active::after {
  position: absolute;
  content: "💕";
  top: -1.5rem;
  right: -2rem;
}
.header .brand {
  height: 8rem;
  width: auto;
}
.header .donate_btn {
  cursor: pointer;
  background-color: #ed145b;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  outline: none;
  padding: 2rem;
  border-radius: 0.5rem;
  letter-spacing: 0.05em;
  color: white;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  font-size: 1.5rem;
  font-weight: 500;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: 0.3s ease;
}
.header .donate_btn:hover {
  background-color: #f3d7d7;
  color: #ed145b;
  font-weight: 700;
  font-size: 1.5rem;
  box-shadow: #ed145b 0px 1px 5px;
}

.hero {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80vh;
  padding: 5rem;
  background-color: #f7f5dd;
  background-image: url(../assets/ribbon.png);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
  position: relative;
}
.hero .overlay {
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  z-index: 10;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}
.hero .hero_img {
  width: 50%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25rem;
}
.hero .hero_img img {
  height: 100%;
  width: auto;
}
.hero .hero_text {
  width: 50%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .hero_text h1 {
  color: #df4a7b;
  font-size: 6.5rem;
}
.hero .hero_text h1 b {
  color: #ed145b;
  font-size: 7rem;
}

.tag_image {
  display: flex;
  width: 100%;
  height: 45rem;
  background-color: red;
  background-image: url(../assets/gift.jpg);
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
}
.tag_image h2 {
  font-size: 4rem;
  font-weight: bolder;
  color: whitesmoke;
  text-shadow: 1px 1px 10px #ed145b;
  font-family: "Raleway";
}

.quick_question {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}
.quick_question .question {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quick_question .question h1 {
  font-size: 6rem;
  color: #df4a7b;
}
.quick_question .question h1 b {
  color: #ed145b;
  font-size: 7rem;
}
.quick_question .answer {
  width: 50%;
  padding-left: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.quick_question .answer h2 {
  font-size: 5rem;
  color: #df4a7b;
  margin-bottom: 3rem;
}
.quick_question .answer h2 b {
  color: #ed145b;
  font-size: 6rem;
}
.quick_question .answer input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  border: none;
  font-size: 3rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.466);
  padding-bottom: 1rem;
  width: 70%;
  margin-bottom: 3rem;
  transition-duration: 0.2s;
}
.quick_question .answer input:focus {
  border-color: #df4a7b;
}
.quick_question .answer button {
  padding: 2rem;
  color: white;
  border-radius: 0.5rem;
  background-color: #ed145b;
  font-size: 3rem;
  width: 70%;
  border: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}

.contact {
  display: flex;
  margin-top: 10rem;
  padding: 5rem;
}
.contact .form {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3rem;
  border: 3px solid #df4a7b;
  border-radius: 1rem;
}
.contact .form h2 {
  margin-bottom: 2rem;
  font-size: 3rem;
}
.contact .form input {
  font-size: 2rem;
  padding: 1rem;
  margin-bottom: 2rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  width: 70%;
  border: 1px solid rgba(0, 0, 0, 0.452);
  border-radius: 1rem;
  transition: 0.3s ease;
  color: #56555f;
}
.contact .form input:focus-visible {
  border: 1px solid #ed145b;
  box-shadow: rgba(255, 0, 106, 0.555) 2px 2px 1.95px inset, rgba(255, 0, 106, 0.555) -2px -2px 1.95px inset;
}
.contact .form button {
  margin-top: 2rem;
  padding: 2rem;
  color: white;
  border-radius: 0.5rem;
  background-color: #ed145b;
  font-size: 3rem;
  width: 70%;
  border: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}
.contact .contact_img {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}
.contact .contact_img img {
  height: auto;
  width: 100%;
}

.footer {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.footer .waves {
  display: flex;
  width: 100%;
  position: relative;
}
.footer .waves #overlap {
  position: absolute;
}
.footer .footer_content {
  background-color: #ed145b;
  display: flex;
  justify-content: space-around;
  padding: 4rem;
  padding-bottom: 10rem;
  align-items: center;
  position: relative;
}
.footer .footer_content img {
  position: absolute;
  top: -10rem;
  right: 10rem;
  width: 15rem;
}
.footer .footer_content .socials {
  display: flex;
  flex-direction: column;
}
.footer .footer_content .socials a i {
  font-size: 2rem;
  color: white;
  margin-bottom: 2rem;
  transition: 0.3s ease;
}
.footer .footer_content .socials a i:last-child {
  margin-bottom: 0rem;
}
.footer .footer_content .socials a i:hover {
  color: #f7f5dd;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15);
  transform: scale(200%);
  margin: 1.5rem 0;
}
.footer .footer_content .links {
  color: white;
  padding: 5rem;
}
.footer .footer_content .links h2 {
  margin-bottom: 1rem;
  font-size: 2.4rem;
}
.footer .footer_content .links li {
  font-size: 1.8rem;
  font-weight: lighter;
}
.footer .footer_content .links a {
  display: block;
  text-decoration: none;
  color: white;
  transition: 0.3s ease;
}
.footer .footer_content .links a:hover {
  transform: scale(110%);
  color: #f7f5dd;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15);
}
.footer .footer_credit {
  display: flex;
  justify-content: space-evenly;
  height: 10rem;
  background-color: #f3dadc;
}
.footer .footer_credit img {
  height: inherit;
  width: auto;
}
.footer .footer_credit span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: rgba(0, 0, 0, 0.781);
  letter-spacing: 0.1rem;
}
.footer .footer_credit span a {
  text-decoration: none;
  color: #ed145b;
  font-size: 1.5rem;
}

.video_intro {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 4rem;
}
.video_intro h2 {
  display: flex;
  justify-content: center;
  font-size: 4rem;
  color: #ed145b;
  margin-bottom: 2rem;
}
.video_intro .video {
  width: auto;
  height: 60rem;
}

.meet_team {
  display: flex;
  padding: 2rem;
  flex-direction: column;
}
.meet_team .heading {
  font-size: 4rem;
  text-transform: uppercase;
  background: -webkit-linear-gradient(0deg, #ed145b, #ff5ca3);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 0.1em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 4rem;
}
.meet_team .team_row {
  display: flex;
}
.meet_team .team_row .team_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 4rem;
  margin-right: 2rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 0.5rem;
  transition: 0.3s ease;
}
.meet_team .team_row .team_card:hover {
  box-shadow: rgba(255, 0, 106, 0.353) 1.95px 1.95px 2.6px;
}
.meet_team .team_row .team_card:last-child {
  margin-right: 0rem;
}
.meet_team .team_row .team_card img {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  margin-bottom: 2rem;
  background-image: linear-gradient(180deg, #ed145b, #ff5ca3);
  padding: 0.65rem;
}
.meet_team .team_row .team_card h2 {
  font-size: 1.8rem;
  color: #df4a7b;
}
.meet_team .team_row .team_card h3 {
  font-size: 2.4rem;
  color: #ed145b;
}
.meet_team .team_row .team_card p {
  font-size: 1.8rem;
  color: rgba(0, 0, 0, 0.8);
}

.quote {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  padding: 6rem;
  align-items: center;
  margin: 0 auto;
}
.quote .quote_img {
  overflow: hidden;
  width: 40%;
}
.quote .quote_img img {
  height: auto;
  width: 100%;
  border-radius: 1rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.quote .quote_text {
  width: 60%;
  padding: 4rem;
  background-color: #f7f5dd;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 1rem;
  transform: translateX(10%);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.quote .quote_text span {
  color: #ed145b;
  font-weight: 500;
}
.quote .quote_text p {
  font-size: 2rem;
  color: #56555f;
}
.quote .quote_text b {
  color: #ed145b;
  font-size: 1.5rem;
  display: block;
  margin-top: 3rem;
  float: right;
}

.send_message {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.send_message h2 {
  font-size: 3.5rem;
  color: #ed145b;
  font-family: "Raleway";
  margin-bottom: 2rem;
}
.send_message input {
  font-size: 2rem;
  padding: 1rem;
  margin-bottom: 2rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  width: 70%;
  border: 1px solid rgba(0, 0, 0, 0.452);
  border-radius: 0.5rem;
  transition: 0.3s ease;
}
.send_message input:focus-visible {
  border: 1px solid #ed145b;
  box-shadow: rgba(255, 0, 106, 0.555) 2px 2px 1.95px inset, rgba(255, 0, 106, 0.555) -2px -2px 1.95px inset;
}
.send_message input::-moz-placeholder {
  color: #56555f;
}
.send_message input:-ms-input-placeholder {
  color: #56555f;
}
.send_message input::placeholder {
  color: #56555f;
}
.send_message textarea {
  font-family: inherit;
  font-size: 2rem;
  padding: 1rem;
  margin-bottom: 2rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  width: 70%;
  border: 1px solid rgba(0, 0, 0, 0.452);
  border-radius: 0.5rem;
  resize: none;
}
.send_message textarea:focus-visible {
  border: 1px solid #ed145b;
  box-shadow: rgba(255, 0, 106, 0.555) 2px 2px 1.95px inset, rgba(255, 0, 106, 0.555) -2px -2px 1.95px inset;
}
.send_message textarea::-moz-placeholder {
  color: #56555f;
}
.send_message textarea:-ms-input-placeholder {
  color: #56555f;
}
.send_message textarea::placeholder {
  color: #56555f;
}
.send_message button {
  padding: 2rem;
  color: white;
  border-radius: 0.5rem;
  background-color: #ed145b;
  font-size: 3rem;
  width: 40%;
  border: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  display: block;
}

.donate_heading {
  text-align: center;
  font-size: 4rem;
  color: #ed145b;
  letter-spacing: 0.01em;
  margin-top: 5rem;
  font-family: "Raleway";
}

.donate_here {
  display: flex;
  width: 100%;
}
.donate_here .donate_form {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 4rem;
  align-items: center;
}
.donate_here .donate_form input {
  font-size: 2rem;
  padding: 1rem;
  margin-bottom: 2rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  width: 85%;
  border: 1px solid rgba(0, 0, 0, 0.452);
  border-radius: 0.5rem;
  transition: 0.3s ease;
}
.donate_here .donate_form input:focus-visible {
  border: 1px solid #ed145b;
  box-shadow: rgba(255, 0, 106, 0.555) 2px 2px 1.95px inset, rgba(255, 0, 106, 0.555) -2px -2px 1.95px inset;
}
.donate_here .donate_form input::-moz-placeholder {
  color: #56555f;
}
.donate_here .donate_form input:-ms-input-placeholder {
  color: #56555f;
}
.donate_here .donate_form input::placeholder {
  color: #56555f;
}
.donate_here .donate_form select {
  width: 85%;
  padding: 1rem;
  font-size: 2rem;
  margin-bottom: 2rem;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid rgba(0, 0, 0, 0.452);
  border-radius: 0.5rem;
  color: #56555f;
  transition: 0.3s ease;
}
.donate_here .donate_form select:focus-visible {
  border: 1px solid hotpink;
  box-shadow: rgba(255, 0, 106, 0.555) 2px 2px 1.95px inset, rgba(255, 0, 106, 0.555) -2px -2px 1.95px inset;
}
.donate_here .donate_form .currency_section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  -moz-column-gap: 9rem;
       column-gap: 9rem;
}
.donate_here .donate_form .currency_section select {
  width: 55%;
  transition: 0.3s ease;
}
.donate_here .donate_form .currency_section select:focus-visible {
  box-shadow: rgba(255, 0, 106, 0.555) 2px 2px 1.95px inset, rgba(255, 0, 106, 0.555) -2px -2px 1.95px inset;
}
.donate_here .donate_form .currency_section input {
  width: 55%;
  transition: 0.3s ease;
}
.donate_here .donate_form .currency_section input:focus-visible {
  box-shadow: rgba(255, 0, 106, 0.555) 2px 2px 1.95px inset, rgba(255, 0, 106, 0.555) -2px -2px 1.95px inset;
}
.donate_here .donate_img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  padding: 4rem;
}
.donate_here .donate_img img {
  width: 100%;
  height: auto;
}
.donate_here button {
  padding: 2rem;
  color: white;
  border-radius: 0.5rem;
  background-color: #ed145b;
  font-size: 3rem;
  width: 70%;
  border: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */