@import "presets";
@import "responsive";
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
$pink: #f3d7d7;
$light-pink: #f3dadc;
$hot-pink: #ed145b;
$hot-pink-accent: #df4a7b;
$light-pink-variant: #f7f5dd;

// Home Section
.header {
  display: flex;
  height: fit-content;
  justify-content: space-between;
  background-color: $pink;
  align-items: center;
  padding: 1rem 2rem 1rem 0rem;

  .links {
    display: flex;
    font-size: 1rem;
    justify-content: space-evenly;
    width: 60%;

    li {
      font-size: 1.65rem;
      text-transform: uppercase;
      font-weight: bolder;
      color: whitesmoke;
      text-shadow: 1px 1px 4px $hot-pink;
      position: relative;
      cursor: pointer;
      &:hover {
        &::after {
          position: absolute;
          content: "💕";
          top: -1.5rem;
          right: -2rem;
        }
      }
    }
    .active {
      color: $hot-pink !important;
      text-shadow: 0px 0px 0px $hot-pink;

      &::after {
        position: absolute;
        content: "💕";
        top: -1.5rem;
        right: -2rem;
      }
    }
  }

  .brand {
    height: 8rem;
    width: auto;
  }
  .donate_btn {
    cursor: pointer;
    background-color: $hot-pink;
    appearance: none;
    border: none;
    outline: none;
    padding: 2rem;
    border-radius: 0.5rem;
    letter-spacing: 0.05em;
    color: white;
    min-width: fit-content;
    font-size: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}
.hero {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80vh;
  padding: 5rem;
  background-color: $light-pink-variant;
  background-image: url(../assets/ribbon.png);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
  position: relative;
  .overlay {
    backdrop-filter: blur(15px);
    z-index: 10;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .hero_img {
    width: 50%;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25rem;
    img {
      height: 100%;
      width: auto;
    }
  }
  .hero_text {
    width: 50%;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      color: $hot-pink-accent;
      font-size: 6.5rem;
      b {
        color: $hot-pink;
        font-size: 7rem;
      }
    }
  }
}
.tag_image {
  display: flex;
  width: 100%;
  height: 45rem;
  background-color: red;
  background-image: url(../assets/gift.jpg);
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  h2 {
    font-size: 4rem;
    font-weight: bolder;
    color: whitesmoke;
    text-shadow: 1px 1px 10px $hot-pink;
    font-family: "Raleway";
  }
}
.quick_question {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  .question {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      font-size: 6rem;
      color: $hot-pink-accent;
      b {
        color: $hot-pink;
        font-size: 7rem;
      }
    }
  }
  .answer {
    width: 50%;
    padding-left: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2 {
      font-size: 5rem;
      color: $hot-pink-accent;
      margin-bottom: 3rem;
      b {
        color: $hot-pink;
        font-size: 6rem;
      }
    }
    input {
      appearance: none;
      outline: none;
      border: none;
      font-size: 3rem;
      border-bottom: 2px solid rgba(0, 0, 0, 0.466);
      padding-bottom: 1rem;
      width: 70%;
      margin-bottom: 3rem;
      transition-duration: 0.2s;
      &:focus {
        border-color: $hot-pink-accent;
      }
    }
    button {
      padding: 2rem;
      color: white;
      border-radius: 0.5rem;
      background-color: #ed145b;
      font-size: 3rem;
      width: 70%;
      border: none;
      outline: none;
      appearance: none;
      cursor: pointer;
    }
  }
}
.contact {
  display: flex;
  margin-top: 10rem;
  padding: 5rem;

  .form {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem;
    border: 3px solid $hot-pink-accent;
    border-radius: 1rem;
    h2 {
      margin-bottom: 2rem;
      font-size: 3rem;
    }
    input {
      font-size: 2rem;
      padding: 1rem;
      margin-bottom: 2rem;
      appearance: none;
      outline: none;
      width: 70%;
      border: 1px solid rgba(0, 0, 0, 0.452);
      border-radius: 1rem;
    }
    button {
      margin-top: 2rem;
      padding: 2rem;
      color: white;
      border-radius: 0.5rem;
      background-color: #ed145b;
      font-size: 3rem;
      width: 70%;
      border: none;
      outline: none;
      appearance: none;
      cursor: pointer;
    }
  }
  .contact_img {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    img {
      height: auto;
      width: 100%;
    }
  }
}
.footer {
  display: flex;
  width: 100%;
  flex-direction: column;

  .waves {
    display: flex;
    width: 100%;
    position: relative;
    #overlap {
      position: absolute;
    }
  }
  .footer_content {
    background-color: $hot-pink;
    display: flex;
    justify-content: space-around;
    padding: 4rem;
    padding-bottom: 10rem;
    .links {
      color: white;
      h2 {
        margin-bottom: 1rem;
        font-size: 3rem;
        letter-spacing: 0.1em;
      }
      li {
        font-size: 2rem;
        font-weight: lighter;
      }
    }
  }
  .footer_credit {
    display: flex;
    justify-content: space-evenly;
    height: 10rem;
    background-color: $light-pink;
    img {
      height: inherit;
      width: auto;
    }
    span {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      color: rgba(0, 0, 0, 0.781);
      letter-spacing: 0.1rem;
      b {
        color: $hot-pink;
      }
    }
  }
}

// About Section
.video_intro {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 4rem;
  h2 {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    color: $hot-pink;
    margin-bottom: 2rem;
  }
  .video {
    width: auto;
    height: 60rem;
  }
}
.meet_team {
  display: flex;
  padding: 2rem;
  flex-direction: column;
  .heading {
    font-size: 4rem;
    text-transform: uppercase;
    background: -webkit-linear-gradient(0deg, #ed145b, #ff5ca3);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 0.1em;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 4rem;
  }
  .team_row {
    display: flex;

    .team_card {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 4rem;
      margin-right: 2rem;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
      border-radius: .5rem;

      &:last-child {
        margin-right: 0rem;
      }

      img {
        width: 15rem;
        height: 15rem;
        border-radius: 50%;
        margin-bottom: 1rem;
        background-image: linear-gradient(180deg, #ed145b, #ff5ca3);
        padding: .65rem;
      }
      h2 {
        font-size: 1.8rem;
        color: $hot-pink-accent;
      }
      h3 {
        font-size: 2.4rem;
        color: $hot-pink;
      }
      p {
        font-size: 1.8rem;
        color: rgba(0, 0, 0, 0.8);
      }
    }
  }
}
